# Cache do pytest
**/__pycache__/
.pytest_cache/

# Dados do navegador autenticado. Contém dados sensíveis
.playwright/.auth

# Caminho dos vídeos gravados. Todos os testes que falharem terão um vídeo neste diretório
.tests_videos/

# Arquivo com as credenciais de autenticação. Credenciais são:
# DOMINIO: a base a ser acessada;
# LOGIN: o nome do usuário;
# SENHA: a senha do usuário.
.env